footer .container {
    padding: 1px;
}

#services,
#contact {
    padding: 1px 0;
}

.slider h3,
.slider h5,
.clients h3 {
    text-shadow: 1px 1px 3px rgba(0,0,0,1);
}

.parallax-container {
    height: 20%; 
}

.clients .parallax img {
    /*filter: grayscale(1) !important;*/
}

.clients img {
    max-width: 150px;
    filter: drop-shadow(1px 1px 3px rgba(0,0,0,1));
}

#contact button {
    margin-top: 25px;
}